* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.hide {
  display: none;
}

.center-text {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
}

h1 {
  font-size: 4.2rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  letter-spacing: 8px;
}

h2 {
  font-size: 2.8rem;
}

p {
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
}

.container {
  /* max-width: 40em; */
}

.header {
  background-image: url(../images/mobile/image-header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
  padding: 2em;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6em;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12em;
}

.main-heading {
  padding-bottom: 2em;
}

.about-content {
  padding: 4em;
}

.about-img {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 364px;
  margin-bottom: 2em;
}

.transform {
  background-image: url(../images/mobile/image-transform.jpg);
}

.stand-out {
  background-image: url(../images/mobile/image-stand-out.jpg);
}

.secondary-heading {
  margin-bottom: 1em;
}

.about-description {
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.6;
}

.about-link {
  font-family: 'Fraunces', serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 0.4rem;
}

.transform-link {
  text-decoration-color: hsl(51, 82%, 78%);
}

.stand-out-link {
  text-decoration-color: hsl(7, 86%, 78%);
}

.tertiary-heading {
  font-size: 2.4rem;
}

.about-bg {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 592px;
  max-width: 100%;
  /* margin-bottom: 2em; */
}

.about-graphic {
  background-image: url(../images/mobile/image-graphic-design.jpg);
}

.about-photography {
  background-image: url(../images/mobile/image-photography.jpg);
}

.section-testimonials {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.testimonial-heading {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 4px;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonial-img {
  max-width: 25%;
  border-radius: 50%;
}

.testimonial-description {
  font-size: 1.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
